<h2>parse</h2>
<% form_for @video, url: :download do |f| %>
<dt>
  <dl>title:</dl>
  <dd><%= f.text_field :title, size: 50 %></dd>
  <dl>url:</dl>
  <dd><%= f.text_field :url, size: 50 %></dd>
  <dl>video url:</dl>
  <dd><%= f.text_field :video_url, size: 50 %></dd>
  <dl>download path:</dl>
  <dd><%= f.text_field :download_path, size: 50 %></dd>
  <dl>encoded path:</dl>
  <dd><%= f.text_field :encoded_path, size: 50 %></dd>
  <dl>downloaded:</dl>
  <dd><%= @video.downloaded? %></dd>
  <dl>encoded:</dl>
  <dd><%= @video.encoded? %></dd>
</dt>
<%= submit_tag 'download' %>
<% end %>
